<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Manga Reader</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/public/search}">Search</a>
                </li>
                <li class="nav-item" th:if="${username == null}">
                    <a class="nav-link" th:href="@{/login}">Log In</a>
                </li>
                <li class="nav-item" th:if="${username != null}">
                    <a class="nav-link" th:text="${username}" th:href="@{/reader/profile}"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1>Wyszukiwarka mang</h1>
<main class="container my-5">
    <form th:action="@{/public/search/}" method="get" class="row g-3">
        <!-- Tytuł -->
        <div class="col-md-4">
            <label for="title" class="form-label">Tytuł:</label>
            <input type="text" id="title" name="title" class="form-control" placeholder="Wprowadź tytuł">
        </div>

        <!-- Gatunek z dropdown -->
        <div class="col-md-4">
            <div class="dropdown">
                <label for="genre" class="form-label">Gatunek:</label>
                <select id="genre" name="genre" class="form-select">
                    <option value="">Wszystkie</option>
                    <option th:each="genre : ${genres}" th:value="${genre.name}" th:text="${genre.name}"></option>
                </select>
            </div>
        </div>

        <!-- Przyciski -->
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Szukaj</button>
            <button type="reset" class="btn btn-outline-secondary">Wyczyść</button>
        </div>
    </form>


    <!-- Iteracja przez listę mang -->
    <div th:each="manga : ${mangaList}" class="list-group-item list-group-item-action">
        <div class="row align-items-center">
            <div class="col-md-10">
                <div class="position-relative">
                    <div>
                        <h3 th:text="${manga.title}"></h3>
                    </div>

                    <a th:if="${subscriptionsMap[manga.id.toString()] == null}"
                       sec:authorize="hasRole('READER')"
                       class="btn btn-success btn-sm position-absolute top-0 end-0"
                       th:href="@{/reader/manga/{id}/subscribe(id=${manga.id})}"
                    >Subscribe</a>
                    <a th:unless="${subscriptionsMap[manga.id.toString()] == null}"
                       sec:authorize="hasRole('READER')"
                       class="btn btn-outline-success btn-sm position-absolute top-0 end-0"
                       th:href="@{/reader/manga/{id}/unsubscribe(id=${subscriptionsMap[manga.id.toString()]})}"
                    >Unsubscribe</a>
                </div>
                <p th:text="'Description: ' + ${manga.description}"></p>
                <a th:href="@{/public/manga/{id}/chapters(id=${manga.id})}" class="btn btn-primary">View Chapters</a>
            </div>
            <div class="col-md-2 text-end"
                 sec:authorize="hasRole('READER')">
                <!-- Sprawdzanie, czy istnieje ocena w ratingsMap -->
                <div th:if="${ratingsMap[manga.id.toString()] != null}">
                    <p th:text="'Your rating: '" class="text-start"></p>
                    <div class="progress">
                        <div
                                class="progress-bar"
                                role="progressbar"
                                th:style="'width: ' + (${ratingsMap[manga.id.toString()]} * 10) + '%;'"
                                th:aria-valuenow="${ratingsMap[manga.id.toString()]}"
                                aria-valuemin="0"
                                aria-valuemax="10"
                                th:text="${ratingsMap[manga.id.toString()] * 1 + '/10'}">
                        </div>
                    </div>
                </div>
                <div th:unless="${ratingsMap[manga.id.toString()] != null}">
                    <form th:action="@{/reader/manga/{id}/rate(id=${manga.id})}" method="post" class="mt-3">
                        <label for="rating" class="form-label">Rate this manga (1-10):</label>
                        <select name="rating" id="rating" class="form-select">
                            <option th:each="i : ${#numbers.sequence(1, 10)}" th:value="${i}" th:text="${i}"></option>
                        </select>
                        <button type="submit" class="btn btn-success mt-2">Submit Rating</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>